@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

/*
Themes:
*/
.dark {
  --bg: #212121;
  --text: #dddddd;
  --highlight: #ffffff;
  --editorbg: #3a3a3a;
  --previewbg: #4a4a4a;
  --texted: #eeeeee;
}

/*
Styles:
*/

* {
  color: var(--text);
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.marked {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  background-color: var(--bg);
  align-items: center;
  user-select: none;
}

.header .branding {
  padding-left: 50px;
  margin: 20px 40px 20px 0;
}

.header input {
  font-family: "Rubik", sans-serif;
  background: var(--bg);
  border: none;
  color: var(--text);
  border-bottom: 1px solid var(--text);
  outline: none;
}

.header .actions {
  display: flex;
  margin-left: 10px;
}

.header .actions .action {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.4rem;
}

.header .actions .action:hover {
  color: var(--highlight) !important;
}

.display {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.editor,
.preview {
  color: var(--texted);
  width: 100%;
  overflow-y: auto;
  padding: 60px;
  max-height: 75vh;
  font-size: 1.2rem;
}

.editor {
  font-family: "Fira Code", monospace;
  resize: none;
  outline: none;
  border: none;
  background: var(--editorbg);
}

.preview {
  background: var(--previewbg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.editoronly .preview {
  display: none;
}

.previewonly .editor {
  display: none;
}

.preview a {
  color: #f1f1f1;
  font-weight: 700;
}

.footer {
  width: 100%;
  background: var(--bg);
  display: flex;
  padding: 10px 20px;
  font-weight: 700;
  justify-content: space-between;
  user-select: none;
}

.footer span {
  margin: 0 10px;
  width: 120px;
}
